<div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">ID card OCR
                    <small>@bagiks</small>
                </h1>
            </div>
        </div>

        <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-upload" ngf-select="uploadPic($file)" ng-model="picFile"
                         accept="image/*" ngf-max-size="20MB">
                  Select Image</button>
                </div>

            </div>

            <div class="row" align="middle">
                <img ngf-thumbnail="picFile" class="input-image vcenter" >
            </div>
        </div>

        <div class="col-md-6" ng-if="item.hasPhone == true">
            <div class="row">
                <div class="search">
                    <h4>{{item.hasCracked == true ? "Detect Text Block with confidence level of " +
                        item.crack_accuracy + "%" : "No text block is recognized"}}</h4>
                </div>
            </div>

            <div class="row" >
                <img style="width: 300px; height: 300px" ng-src = "http://54.86.49.120/pic/{{item.cracked}}">
            </div>

        </div>

        <div class="col-md-6" ng-if="item.hasPhone == false">
            <div class="row">
                <div class="search">
                    <h4>Result: No text block is recognized !</h4>
                </div>
            </div>
        </div>
    </div>

    </div>


</div>
